@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #747265;
}



.box{
    border: 3px solid #0a0a0a;
    box-shadow: -1px -1px 23px 1px rgba(111,18,10,0.75);
    width: 50%;
    margin: 20px auto;
}
.box h1{
    color: aliceblue;
    font-family: "Madimi One", sans-serif;
}
.box p{
    font-family: "Poppins", sans-serif;
    font-size: small;
    text-align: justify;
}
.content{
    
    position: relative;
    margin: 5px auto;
    width: 90%;
    text-align: center;
      
}

.content img{
    border: 3px dashed #0a0a0a;
    box-shadow: -1px -1px 23px 1px rgba(111,18,10,0.75);
    margin: 20px 0;
}


.box a{
    font-size: medium;
    color: aliceblue;
    text-transform: capitalize;
}
.underline{
    text-decoration: underline;
    text-shadow:  4px 4px 6px rgba(114, 25, 49, 0.85);
}
#specialWord{
    text-transform: uppercase;
    text-shadow:  4px 4px 6px rgba(25, 21, 20, 0.85);
word-spacing: 10px;
}
#line{
    color: rgb(98, 25, 25);
    text-decoration: line-through rgba(25, 21, 20, 0.85);
    
}
#headeMark{
    text-shadow:  4px 4px 6px rgba(217, 209, 208, 0.85);
    text-transform: uppercase;
    font-family: "Acme", sans-serif;
    color: rgba(71, 15, 8, 0.75);
    
}